<body>
    <section class="articles">
        <article>
          <div class="article-wrapper">
            <figure>
              <img src="https://thumbs.dreamstime.com/z/casa-americana-con-el-jard%C3%ADn-103025099.jpg" alt="" />
            </figure>
            <div class="article-body">
              <h4 id="h4sin">  <strong>Jardineria</strong>
              </h4>
              <p class="p1">
                As an experienced gardener, I design, install, and maintain gardens by pruning, weeding, fertilizing, and watering plants, and installing irrigation systems. I select plants based on site conditions and strive to achieve a balance between aesthetic beauty and functionality. My goal is to create a healthy and attractive garden for my clients.
              </p>
                 <!-- <button *ngIf="isMobile()" type="button" class="btn btn-success mobile" routerLink="proyectos">learn more about us</button> -->
                 <button  type="button" class="btn btn-success mobile"  id="button" routerLink="proyectos">learn more about us</button>

            </div>
          </div>
        </article>
        <article>

          <div class="article-wrapper">
            <figure>
              <img src="https://thumbs.dreamstime.com/b/peque%C3%B1a-casa-americana-con-la-pintura-exterior-gris-74797934.jpg" alt="" />
            </figure>
            <div class="article-body">
              <h4>   <strong>Decoration of green environments</strong>
            </h4>
              <p class="p2">
                In green space decoration, I create attractive and functional areas by selecting and planting species of plants and trees based on the climate and needs of the space. I also install irrigation and landscaping systems, and use decorative elements such as stones and water features. My goal is to create a pleasant and relaxing environment for people to enjoy.
              </p>
              <!-- <button *ngIf="isMobile()" type="button" class="btn btn-success mobile">learn more about us</button> -->
              <button  type="button" class="btn btn-success mobile"  id="button" routerLink="proyectos">learn more about us</button>
              <!-- <a href="#" class="read-more">
                Read more <span class="sr-only">about this is some title</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </a> -->
            </div>
          </div>
        </article>
        <article>

          <div class="article-wrapper">
            <figure>
              <img src="https://cloudfront-us-east-1.images.arcpublishing.com/eluniverso/DC3ZHRVBORDINC46PAPRWOMU5M.jpg" alt="" />
            </figure>
            <div class="article-body">
              <h4 ><strong>Florist</strong></h4>
              <p class="p3">
                As a florist, I design and create beautiful flower arrangements for different occasions by selecting the best flowers based on color, texture, and season. I also offer advice on floral care and maintenance to ensure their longevity. My goal is to provide my clients with stunning and memorable floral creations that convey their sentiments and emotions.
              </p>
              <button  type="button" class="btn btn-success mobile" id="button" routerLink="proyectos">learn more about us</button>
              <!-- <a href="#" class="read-more">
                Read more <span class="sr-only">about this is some title</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </a> -->
            </div>
          </div>
        </article>
      </section>
</body>
