
<body>
  <meta charset="UTF-8">

    <section class="about-us py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="https://st.depositphotos.com/3332767/4586/i/600/depositphotos_45868893-stock-photo-male-gardener-holding-spade.jpg" alt="Foto de trabajador de jardinería" class="img-fluid">
            </div>
            <div class="col-md-6">
              <h2>About me</h2>
              <p><strong>Hello! If you are looking for a gardening company that offers you creative and effective solutions for the design, maintenance and care of green spaces in homes and businesses, you are in the right place! I'm Alfonso, and my company is dedicated to making your gardening projects a reality with the help of a team of passionate experts dedicated to their work.
              </strong></p>
            <p><strong>You can follow us on our social networks to see examples of our work and previous projects. We will wait for you!</strong></p>
              <div>
                <p><strong>
                  <div>
                    <p class="socialMedia"> <strong> 
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color:black;"></i></a> 
                      <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp" style="color: black;"> </i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: black;"> </i></a>
                          <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-flip-horizontal" style="color:black;"> </i></a>
                    </strong></p>
                  </div>
                </strong></p>
              </div>
          </div>
          </div>
        </div>
      </section>
</body>
      
      
  

