
@media (min-width: 768px){
  button {
    padding-right: 200px;
    padding-left: 100px;
    align-items: center;
    text-align: center;
    padding: 5px;
  }
  h4:hover {
    color: green;
  }
}

@media (max-width: 767px){
  button{
    left: 100px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

