@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@media (min-width: 768px) {
    img {
      height: 500px;
    }
    h1{
      padding-left: 38% ;
      }
      h6{
        padding-top: 10px;
        padding-left: 330px;
        padding-bottom: 10px;
        font-size: 1.25em;
      }
      p{
        padding-left: 30%;
        padding-right: 5px;
        padding-bottom: 20px;
    }
    ul {
      list-style-type: disc; /* cambia el marcador a un círculo */
      margin-left: 20px; /* añade un margen izquierdo para indentar la lista */
      padding-left: 35%;
      padding-top: 2px;
    }
    li {
      margin-bottom: 5px; /* añade un margen inferior para separar los elementos de lista */
    }
    button{
      display: block;
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 5px;
      padding-top: 5px;
      width: 250px;
      display: flex;
      justify-content: center;
      margin-left: 300px;
      text-align: center !important;
    }
    .aa{
      padding-left: 350px;
      color: black;
    }
  }
@media (max-width: 767px) {
  img {
    height: 300px;
  }
  h1{
    padding-left: 120px ;
    }
h6{
  padding-top: 10px;
  padding-left: 170px;
  padding-bottom: 10px;
}
p{
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 20px;
}
ul {
    list-style-type: disc; /* cambia el marcador a un círculo */
    margin-left: 20px; /* añade un margen izquierdo para indentar la lista */
  }
  
  li {
    margin-bottom: 10px; /* añade un margen inferior para separar los elementos de lista */
  }
  ul{
    padding-left: 10px;
  }
  button{
    display: block;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  #carouselExampleIndicators{
    padding-bottom: 20px;
  }
}  

.carousel-inner {
    height: 500px; /* ajusta esta altura según sea necesario */
  }
  
.rojito{
  color:  #ff9999;
}
body{
  padding-top: 37px;
}