<app-nav-bar></app-nav-bar>
<body>
  <meta charset="UTF-8">
    <section class="about-us py-4" id="section1">
        <div class="container" >
          <div class="row">
            <div class="col-md-6">
              <app-carousel2></app-carousel2> 
            </div>
            <div class="col-md-6">
              <div>
                <h1>BackYard</h1>
                <h6>750$</h6>
                <p><strong> Refresh the landscaping, hardscaping and more for your entire property</strong></p>
                <ul>
                  <li>Front yard, backyard and side yard design</li>
                  <li>Custom plant selection and layout</li>
                  <li>Hardscaping and lighting design</li>
                  <li>Shoppable furniture and decor</li>
                  <li>Seamless process—from design to installation support</li>
                  <a class="rojito">Unique job priced by house measurements.</a>
                </ul> 
                <button type="button" class="btn btn-success" routerLink="/proyectos">More of our work</button>    
                </div>
          </div>
          </div>
        </div>
      </section>
</body>
<app-footer></app-footer>
      
      
  

