<h2 class="h222"> <strong>see other designs</strong></h2>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card shadow-sm">
          <img src="https://contentgrid.homedepot-static.com/hdus/en_US/DTCCOMNEW/Articles/front-yard-landscaping-section-1.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
          <div class="card-body">
            <h4><strong>Front Yard
            </strong></h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success" [routerLink]="'/full-yard6'">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card shadow-sm">
          <img src="https://diy.sndimg.com/content/dam/images/diy/fullset/2013/3/6/0/CI-Bruce-Clodfelter-Associates_front-yard-stepping-house-traditional-home_s4x3.jpg.rend.hgtvcom.966.725.suffix/1420859560313.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225">
          <div class="card-body">
            <h4><strong>Curb Appeal
            </strong></h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success" [routerLink]="'/full-yard7'">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="card shadow-sm">
          <img src="https://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2017/1/26/0/OA17-J-Dabney-Peeples-Design-Assoc_Twilight-Garden_2.jpg.rend.hgtvcom.616.411.suffix/1485455803767.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225">
          <div class="card-body">
            <h4><strong>Outdoor Transformation
            </strong></h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-success" [routerLink]="'/full-yard8'">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
